.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 37px 0 0 18px;
  background: url(../../../images/profile_edit-buttom.svg) 50% no-repeat;

}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 30px 0 0 0;
  }
}