.card__caption-container {
  width: 100%;
  height: 79px;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  align-items: center;
}