.popup__form-input {
  width: 358px;
  height: 27px;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit;
  color: #000;
}

.popup__form-input::placeholder {
  color: #C4C4C4;
}

@media screen and (max-width: 880px) {
  .popup__form-input {
    width: 238px;
  }
}