.header__logo {
  width:142px;
  height:33px;
  margin: 0 0 41px;
  background-image: url(../../../images/logo_mesto.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 880px) {
  .header__logo{
    margin: 0 0 32px 27px;
    width: 104px;
    height: 25px;
  }
}
