.header__logo {
  width:142px;
  height:33px;
  margin: 0 0 41px;
  background-image: url(../../../images/logo_mesto.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1023px) {
  .header__logo {
      padding-left: 28px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
      max-width: 104px;
      padding-bottom: 31px;
  }
}
