.places__trash {
    width: 18px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 15px;
    background: url(../../../images/Trashtrash.svg) 50% no-repeat;
    outline: none;
    border-style: none;
    object-fit: cover;
    transition: opacity .2s linear;
  }
