.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 51px;
  display: grid;
  grid-template-columns: 282px 1fr 1fr;
  grid-gap: 20px 17px;
}


@media screen and (max-width: 880px) {
  .elements {
    max-width: 581px;
    grid-template-columns: 282px 1fr;
  }
}

@media screen and (max-width: 580px) {
    .elements {
    width: 282px;
    grid-template-columns: 282px;
    padding-top: 36px;
    grid-gap: 20px 0;
    }
  }