.popup__image-caption {
  max-width: 291px;
  height: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  text-align: left;
  margin: 10px 0 0 0;
  position: absolute;
  left: 0;
  bottom: -20px;

}