.places__elements {
  max-width: 880px;
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  padding-top: 51px;
  display: grid;
  grid-template-columns: 282px 1fr 1fr;
  grid-template-rows: repeat(auto-3, 1fr);
  grid-gap: 20px 17px;
  
}

@media screen and (max-width: 1023px) {
  .places__elements {
  grid-template-columns: 282px 1fr;
  }
}
  
@media screen and (max-width: 585px) {
  .places__elements {
    width: 282px;
    grid-template-columns: 282px;
    padding-top: 36px;
    grid-gap: 20px 0;
  }
}