.places__like-button {
  width: 22px;
  height: 19px;
  margin: 25px 15px 0 0;
  background: url(../../../images/group_like_image.svg) 50% no-repeat;
}

.places__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}