.places__like-button {
  width: 22px;
  height: 19px;
  margin: 25px 15px 0 0;
  background: url(../../../images/like_button.svg) 50% no-repeat;
  outline: none;
  border-style: none;
  object-fit: cover;
  transition: opacity .2s linear;
 
}
.places__like-button:hover {
  opacity: .5;
}