.element__like-button {
  width: 22px;
  height: 19px;
  margin: 25px 15px 0 0;
  background: url(../../../images/vector_like_image.svg) 50% no-repeat;
}

.element__like-button:hover {
  opacity: 0.5;
}