.footer {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 880px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
   width: 282px;
  }
}